p{
    margin: 0;
}
i {
    margin-right: 10px;
}

.order-display{
    background:#FFF;
    margin: 7rem 3rem auto;
    display: grid;
    gap: 1vh;
    grid-template-areas: 
    "h-box1 h-box1 v-box"
    "h-box2 h-box2 v-box"
    "h-box3 h-box3 v-box";
    grid-gap: 10px;
    padding: 10px;
    }

.test-box {
    /* border: 1px solid red; */
}

.box1 {
    display: inline-block;
    width:33vw;
    min-height:77vh;
}

.box2 {
    display: inline-block;
    width:60vw;
    min-height:25vh;
    background:#FFF;    
}

.box-inner-gap {
    padding: 1rem 1rem;
}
.box-inner-section {
    height:auto;
    box-shadow: 1px 3px 6px;
    display: grid;

}
.box-inner-section>div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 5px;
}
.box-inner-section>hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#ffb400;
    height: 1px;
    padding: 0;
    margin: 0 5px; 
}


/* Order Details */
#order-detail {
    grid-area: v-box;
}

#checkout-dishes-list{
    display: flex;
    flex-direction: column;
}

    #vertical-head {
        height: 4rem;
        position: relative;
    }
    #vertical-head>span, #verical-head>button {
        position: absolute;
        width: 50%;
        bottom: 0;
    }
    
    #vertical-head >  button {
        position: absolute;
        right: 18px;
        bottom: 11px;
        border-color: #007bff;
        color: #007bff;
    }
    #vertical-head >  button:hover {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
    #vertical-head > button > a{
        color: #007bff;
    }
    #vertical-head > button > a:hover{
        color: #fff;
    }


    #dish-list {
        margin: 10px;
    }
        #dish-list .dish-details {
            list-style: none;
            margin: 0;
            padding: 0; 
            line-height:1.8;
        }
        #dish-list .dish-details>li {
            margin: 8px;
        }
            #dish-list .dish-details .zero-display {

            }
            #dish-list .dish-details .zero-display>span {
            }
            #dish-list .dish-details .edit-display {
                display: none;
            }
            span.quantity {
                color:black;
            }
            span.name {
                color: #673ab7;
                font-style: italic;
            }
            span.cost {
                font-style: italic;
                display: none;
            }
            div.right-corner {
                float: right;
            }
                span.total {
                    text-align: right;
                }
                span#edit-buttons {
                    margin: 4px 10px;
                }
                button.edit-btn {
                    border:none;
                    line-height: 20px;
                    text-align: center;
                }
                button.edit-btn>a {
                    color: blue;
                }
                button.edit-btn  {
                    border:none;
                    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
                    6px 6px 10px rgba(0, 0, 0, 0.2);
                    color: #6f6cde;
                    background-color: #ffb400;
                    margin: 3px;
                }
                button.edit-btn:hover {
                    border:none;
                    opacity: 0.3;
                    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
                        6px 6px 10px rgba(0, 0, 0, 0.2);
                }
                button.edit-btn :active {
                    border:none;
                    opacity: 1;
                    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
                        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
                    color: #79e3b6;
                }
            #total-text {
                color: black;
                font-style: italic;
            }
            #bill-text {
                float: right;
                color: black;
                font-weight: bold;
                margin : auto 10px;
            }

    .make-payment {
        justify-content: center;
        align-items: center;
        color: black;
        position: relative;
        min-height: 4rem;
    }
    #payment {
        position: absolute;
        margin: auto;
        top: 12px;
        right: 18px;
    }
    .btn-outline-primary {
        color: #1d1c1a;
        background-color: transparent;
        background-image: none;
        border-color: #ffb400;
    }
    
                


  /**********************/
 /* Inner Order Status */
/**********************/

#ordered-section {
    grid-area: h-box1;
}
#address{
    padding: 0px;
    border: 1.2px solid #007bff45;
}

#address-display-section {
    display: flex;
    flex-direction: column;
}

    #address-display-header {
        z-index: 2;
        padding: 3px 10px;
        display: flexbox;
        background: rgb(255 255 255);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px;
        
    }
    #address-display-header >  h5 {
        margin-bottom: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }
    .header-slab {
        border: 2px 2px 0px 2px solid blue;
        box-shadow: 2px 2px 5px;
        padding: 3px;
        color: black;
        font-family: 'Montserrat', sans-serif;
        background-color: #f8f9fa;

    }

      /***************************/
     /* address-display-content */
    /***************************/
    #address-display-content {
        height: 200px;
        width: 100%;
        margin: 0px 0px;
        overflow: auto;
        /* white-space: nowrap; */
        background: hsl(0, 0%, 98%);
    }

    .default {
        box-shadow: inset 0 0 10px;    }

    .address-tile {
        padding: 3px 10px;
        display: inline-flex;
        flex-direction: column;
        width: 50%;
        background: rgb(248, 248, 248);
        border-right: 0.2px solid #007bff45;
        height: 100%;
        margin: 0px -1.1px;
        border-bottom: 0.2px solid #007bff45;
    }
    .address-tile> div {
        display: inline-block;
        white-space: initial;
        overflow-wrap: break-word;
        margin: 5px 5px 5px 10px;
    }
    
    .label {
        color:black;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    .address-edit-btns> a.address-edit-btn {
        color: #e9ecef;
        background-color: #dc3545;
        border-radius: 2em;
        margin: 0;
        padding: 0.5em 1em;
        font-size: 12px;
    }
    .address-edit-btns> .address-deliver-btn {
        color: #e9ecef;
        background-color: #007bff;
        border-radius:2em;
        margin:0;
        padding: 0.5em 1em;
        font-size: 12px;
    }
    .address-delete-btn {
        color: #e9ecef;
        background-color: #d39e00;
        border-radius:2em;
        margin:0;
        padding: 0.5em 1em;
        font-size: 12px;
    }
    .address-text {
        color: black;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
    }

    #address-edit-form {
        display: none;
    }

    #add-address-form {
        display: none;
    }

      /***************************/
     /* address-display-content */
    /***************************/

    #address-display-footer {
        display: flexbox;
        padding: 3px 10px;
    }
    .footer-slab {
        /* border: 2px solid black; */
        /* box-shadow: -2px -2px 2; */
        padding: 3px;
        color: black;
        font-family: 'Montserrat', sans-serif;
        background: rgb(255 255 255);
    }
    .footer-slab> a {
        /* border: 2px solid black; */
        /* box-shadow: -2px -2px 2; */
        color: #dc3545;
        font-weight: 600;
    }

.left-form {
    margin: 0.25rem 3rem 0.25rem 1rem;
    width: 40%;
}

.right-form {
    margin: 0.25rem 3rem 0.25rem 1rem;
    width: 40%;
}
#add-address-form > p > input[name="label"]{
    width:90%;
}

/* Inner Prepared Status */
#preparing-section {
    grid-area: h-box2;
    /* border: 1px solid black; */
}

/* Inner Delivery Status */
#delivery-section {
    grid-area: h-box3;
    /* border: 1px solid black; */

}