{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
</head>

<body>
    <section id="profile">
        <div id="profile-top">
            <div class="profile-head">
                <div class="name">
                    <h5>{{user.first_name}} {{user.last_name}}</h5>
                </div>
                <div class="edit">
                    <a href="#">Edit</a>
                </div>
            </div>
            <div>{{ user.email }}</div>
            <div>{{ user.phone_no }}</div>
            <div>{{ user.date_of_birth }}</div>
        </div>

        <div id="profile-box">
            <div class="box-header">
                <h4>Profile</h4>
            </div>
            <hr>
            <div class="box-content">
                
                <div class="tab">
                    <button class="tablinks" onclick="openCity(event, 'orders')" id="defaultOpen">Orders</button>
                    <button class="tablinks" onclick="openCity(event, 'reservations')">Reservations</button>
                    <button class="tablinks" onclick="openCity(event, 'addresses')">Addresses</button>
                </div>
                <div class="tab-box">
                    <div id="orders" class="tabcontent">
                        <h3>Orders</h3>
                        <div class="orders-list">
                            {% for order in orders %}
                            <div class="order-box" id="order-{{order.id}}">
                                <div class="card-head">
                                    <div class="order-id bold">
                                        Order ID: {{order.id}}
                                    </div>
                                    <div class="status bold">
                                        {% if order.is_complete and order.status == 'payed' %}
                                            Complete
                                        {% else %}
                                            {% if not order.is_complete and order.status == 'pending' %}
                                                Pending
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="order-dishes">
                                        {% for item in orderItems %}
                                        {% if item.order.id == order.id %}
                                        <span>
                                            {{item.quantity}} x {{item.orderItem.dish}},
                                        </span>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="order-bill">
                                        <span class="bold"> TOTAL BILL: </span> 
                                        <span>&#8377; {{order.get_bill}}</span>
                                    </div>
                                    <div class="order-time">
                                        <span class="bold">ORDERED ON:</span>
                                        <span>Lorem ipsum dolor sit.</span>
                                    </div>
                                </div>
                                <div class="card-bottom">
                                    {% if not order.is_complete and order.status == 'pending' %}
                                        <a href={% url 'home:check-out' %}><button class="Pay btn btn-primary">Proceed to pay</button></a>
                                    {% else %}
                                        <a href=""><button class="reorder">Re-order</button></a>
                                        <a href="{% url 'order:order-view' order.id %}"><button class="view-details">View Details</button></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div id="reservations" class="tabcontent">
                        <h3>Reservation</h3>
                        <div class="reservation-list">
                            {% for item in reservations %}
                            <div class="reservation-box">
                                <div class="reservation-head">
                                    <div class="reservation-id" id="reservation-{{item.id}}">
                                        <span class="bold">Reservation ID : </span>
                                        <span>{{item.id}}</span>
                                    </div>
                                </div>
                                <div class="reservation-content">
                                    <div class="reservation-name">
                                        <span class="bold">Name: </span>
                                        <span>{{ item.name }}</span>
                                    </div>
                                    <div class="reservation-datetime">
                                        <div class="datetime-left">
                                            <span class="bold">Date: </span>
                                            <span>{{ item.date }}</span>
                                        </div>
                                        <div class="datetime-right">
                                            <span class="bold">Time: </span>
                                            <span>{{ item.time }}</span>
                                        </div>
                                    </div>
                                    <div class="reservation-person">
                                        <span class="bold">Persons: </span>
                                        <span>{{ item.persons }}</span>
                                    </div>
                                </div>
                                <div class="reservation-foot">

                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div id="addresses" class="tabcontent">
                        {% for address in addresses %}
                            <div class="address-tile" id="address-{{address.id}}">
                                <div class="label">
                                    <h5>{{address.label}}</h5>
                                </div>
                                <div class="address-text">
                                    <p>
                                        {{address.line1}}, {{address.area}}, {{address.city}},
                                        {{address.state}}, {{address.country}}, {{address.pinCode}}
                                    </p>
                                </div>
                                <div class="address-edit-btns">
                                    <a href="#" class="address-edit-btn" type="button"
                                        onclick="onEdit({{address.id}})">Edit</a>
                                    {% if not address.isDefault %}
                                    <a href="#" class="address-deliver-btn" type="button"
                                        onclick="onDeliver({{address.id}})">Set Default</a>
                                    <a href="#" class="address-delete-btn" type="button"
                                        onclick="onDelete({{address.id}})">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
</body>
<script src="{% static 'accounts/js/profile.js' %}"></script>
{% endblock %}